:root[data-theme='light'] {
  --color-bg: #ffffff;
  --color-surface: #f5f5f5;
  --color-text-primary: #121212;
  --color-text-secondary: #4a4a4a;
  --color-primary: #1e88e5;
  --color-secondary: #27ae60;
  --color-primary-hover: #1565c0;
  --color-accent: #f2994a;
  --color-accent-hover: #d9822b;
  --color-border: #dcdcdc;
}

:root[data-theme='dark'] {
  --color-bg: #121212;
  --color-surface: #1e1e1e;
  --color-text-primary: #f5f5f5;
  --color-text-secondary: #b0b0b0;
  --color-primary: #63a4ff;
  --color-secondary: #6fcf97;
  --color-primary-hover: #4b90e2;
  --color-accent: #f2b56b;
  --color-accent-hover: #e69d48;
  --color-border: #2a2a2a;
}

.page-section{
  padding: 4rem 1.5rem;
  padding-top: 80px;
}


html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

/* Global Custom Scrollbar */
::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 50px;
}


body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}

.global-heading {
  font-size: 1.5rem;
  font-weight: 700;
  background: linear-gradient(90deg, var(--color-primary), var(--color-accent));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: max-content;
  padding-bottom: .5rem;
  position: relative;
  margin: auto;
  margin-bottom: 2rem;
}

.secondglobal-heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  background: var(--color-primary);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
}

.whatsapp-icon{
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  animation: pulsewa 2s infinite;
  transition: all 0.3s ease;
}

.whatsapp-icon:hover{
  animation: none;
}

@keyframes pulsewa {
  50%{
    scale: .8;
  }
}